<html>
<head>
    <title>{% block title %}{{ config.title }} - {{ config.subtitle }}{% endblock %}</title>

    <!-- Site Styles -->
    <link rel="stylesheet" type="text/css" href="assets/main.css" />
</head>
<body>
    <header>
        <big><a href="/">{{ config.title }}</a></big>
        <small>{{ config.subtitle }}</small>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
    </footer>
</body>
</html>
